language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
install: composer install
script: ./vendor/bin/phing test
after_success: ./vendor/bin/phing report-to-coveralls
notifications:
  email:
    recipients:
      - sven.houtmeyers@cultuurnet.be
      - kristof@coomans.eu

